@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.article {
  @include flex-column;
  align-items: center;
  z-index: 1;
  width: 100%;
  background: $middle-grey;
  padding: 60px 20px 40px;

  @media (min-width: $breakMobile) {
    padding: 160px 200px 160px;
  }

  &__title {
    @include a-2;
    text-transform: uppercase;
    margin-bottom: 35px;
    align-self: baseline;

    @media (min-width: $breakMobile) {
      align-self: center;
    }
  }

  &__desc {
    @include h-3;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $breakMobile) {
      @include h-2;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include p-1;
    color: $primary-blue;
    text-decoration: none;
  }
}
