@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.article {
  z-index: 1;
  width: 100%;
  background: $middle-grey;

  padding: 0 1rem;
  padding-block: 120px;
  box-sizing: border-box;
  overflow: hidden;

  &__container {
    max-width: 1100px;
    margin: auto;
    @include flex-column;
    align-items: center;
  }

  &__title {
    @include a-2;
  }

  &__desc {
    @include h-3;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $breakMobile) {
      @include h-2;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include p-1;
    color: $primary-blue;
    text-decoration: none;

    @media (min-width: $breakMobile) {
    }
  }
}
