@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  position: relative;
  align-items: center;
}

.wave_top {
  display: none;
  position: absolute;
  top: 200px;

  @media (min-width: $breakMobile) {
    display: block;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_5.svg");
  }
}

.title {
  @include h-3;
  position: relative;
  margin: 1rem 1rem 2rem;

  text-align: center;
  color: $primary-white;

  @media (min-width: $breakMobile) {
    @include h-1;
    margin-block: 2rem 5rem;
    margin-inline: 19.5rem;
    text-align: center;
  }
}

.content {
  @include flex-column;
  width: 100%;
  padding: 20px;

  @media (min-width: $breakMobile) {
    padding: 0;
    width: auto;
    flex-direction: row;
  }
}

.loader span {
  background-color: $primary-blue !important; // needed to override inline styles
}

.form {
  @include flex-column;
  align-items: center;
  z-index: 1;

  gap: 20px;
  padding: 20px 10px;
  border-radius: 20px;
  background: $dark-blue-gray;

  @media (min-width: $breakMobile) {
    min-width: 560px;
    height: 712px;
    padding: 48px 28px;
    gap: 14px;
    margin-right: 126px;
  }

  &__title {
    @include h-2;
    color: $primary-white;
    margin-bottom: 20px;
  }
}

.desc {
  @include flex-column;
  z-index: 1;
  margin-top: 30px;

  @media (min-width: $breakMobile) {
    margin-top: 189px;
  }

  &__head {
    @include a-2;
    color: $primary-blue;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width: $breakMobile) {
      margin-bottom: 24px;
    }
  }

  &__title {
    @include h-3;
    color: $primary-white;
    margin-bottom: 12px;
    text-align: center;

    @media (min-width: $breakMobile) {
      text-align: left;
    }
  }

  &__text {
    @include p-1;
    color: $primary-white;
    margin-bottom: 40px;
    text-align: center;

    @media (min-width: $breakMobile) {
      text-align: left;
    }
  }

  &__list {
    @include flex-column;
    margin: auto;

    @media (min-width: $breakMobile) {
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      @include p-1;
      position: relative;
      color: $primary-white;
      padding-left: 2rem;
      margin-block: 0.5rem;
      text-align: left;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $primary-blue;
        content: "";
      }
    }
  }
}
