@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.container {
  @include flex-column;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.wave_top {
  display: none;

  @media (min-width: $breakMobile) {
    display: block;
    position: absolute;
    top: -190px;
    right: -190px;
    height: 600px;
    width: 1536px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_1.svg");
  }
}

.title_container {
  max-width: 1500px;

  @media (min-width: 1200px) and (max-width: 1400px) {
    max-width: 1200px;
  }
}

.title {
  @include h-3;
  margin: 1rem 1rem 2rem;
  text-align: center;
  color: $primary-white;

  @media (min-width: $breakMobile) {
    @include h-1;
    margin-block: 80px;
    text-align: center;
  }

  span {
    color: $primary-blue;
  }
}

.grid_container {
  @include flex-column;
  position: relative;
  width: 100%;
  gap: 28px;
  padding: 0 0 40px;

  @media (min-width: $breakMobile) {
    max-width: 1148px;
    padding-bottom: 160px;
  }
}

.row {
  @include flex-column;
  align-items: center;
  width: 100%;
  gap: 28px;

  @media (min-width: $breakMobile) {
    flex-direction: row;
  }
}

.card {
  @include flex-column;
  position: relative;
  width: 100%;
  height: 420px;
  z-index: 2;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  transition: transform 0.3s linear;
  overflow: hidden;
  margin: 0;
  cursor: pointer;

  @media (min-width: $breakMobile) {
    height: 100%;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.3s linear;
  }

  &:hover img {
    transform: scale(1.15);
  }

  figcaption {
    @include flex-column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &:hover &__button,
  &:hover &__overlay {
    opacity: 1;
    display: block;
  }

  &__overlay {
    display: none;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: self-start;
    box-sizing: border-box;

    padding: 1rem;
    @include text-shadow;
    color: $primary-white;
  }

  &__button {
    display: none;
    opacity: 0;
    @include h-5;
    @include text-shadow;
    color: $primary-white;
    text-align: right;
    width: 100%;

    border-radius: 50px;
  }

  border: 2px solid transparent;
  &:hover {
    border: 2px solid $primary-white;
    box-shadow: 0px 0px 8px 2px #ffffff76;
  }

  &__title {
    @include h-3;
    @include text-shadow;
    margin-bottom: 15px;
    line-height: 44px;
    color: $primary-white;

    @media (min-width: $breakMobile) {
      @include h-2;
    }
  }

  &__desc {
    @include p-2;
    @include text-shadow;
    color: $primary-white;
    text-align: center;

    @media (min-width: $breakMobile) {
      text-align: left;
    }
  }

  &__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}

.single {
  width: calc(100% - 40px);

  @media (min-width: $breakMobile) {
    aspect-ratio: 3 / 4.125;
    width: calc(100% / 3);
  }
}

.double {
  width: calc(100% - 40px);

  @media (min-width: $breakMobile) {
    width: calc(100% / 3 * 2 + 28px);
    aspect-ratio: 6 / 4.028;
  }
}

.frames {
  @include flex-column;
  width: 100%;
  padding: 20px 20px;
  gap: 28px;
  background-color: $primary-white;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    padding: 160px 194px;
  }
}

.frame {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  background-color: $middle-grey;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: $primary-black;

  @media (min-width: $breakMobile) {
    width: 50%;
  }

  &__image {
    overflow: hidden;
  }

  &__image img {
    width: 100%;
    aspect-ratio: 14 / 9;
    transition: transform 0.3s linear;

    @media (min-width: $breakMobile) {
    }
  }

  &:hover &__image img {
    transform: scale(1.2) !important; // needed to override motion
  }

  &__title {
    @include a-2;
    margin-block-end: 0;
  }

  &__text {
    @include h-3;
    text-align: center;
    margin: 0.25rem 0.75rem 1rem;
    align-self: self-start;

    @media (min-width: $breakMobile) {
      @include h-2;
      text-align: center;
      margin: 1.5rem 3rem;
    }
  }

  &__link {
    @include button-blue;
    width: 214px;
    height: 60px;
    border-radius: 50px;
    margin-top: auto;
    margin-block-end: 3rem;
  }
}
