@import "./colors.scss";

@mixin flex-column {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

@mixin button-blue {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $primary-blue;
  color: $primary-white;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $primary-white;
      color: $primary-blue;
    }
  }
}

@mixin button-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid $primary-blue;
  color: $primary-white;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $primary-blue;
      color: $primary-white;
    }
  }
}

@mixin button-blur {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 4px;
  border-radius: 42px;
  border: 1px solid $primary-white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: $primary-white;
}

@mixin t-1 {
  font-size: 130px;
  line-height: 130px;
  font-weight: 700;
  letter-spacing: -2.6px;
}
@mixin t-2 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: -1.8px;
}
@mixin h-1 {
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -1.2px;
}
@mixin h-2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.8px;
}
@mixin h-3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-align: center;
  @media (min-width: $breakMobile) {
    text-align: left;
  }
}
@mixin h-4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.48px;
}
@mixin h-5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
@mixin p-1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: $dark-grey;

  text-align: center;
  @media (min-width: $breakMobile) {
    text-align: left;
  }
}
@mixin p-2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $dark-grey;
}
@mixin a-1 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $primary-blue;
}
@mixin a-2 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: $primary-blue;
  text-transform: uppercase;
  margin-block: 0.5rem;
  margin-block: 1rem;

  text-align: center;
  @media (min-width: $breakMobile) {
    margin-block: 1rem;
    text-align: left;
  }
}

@mixin text-shadow {
  text-shadow: #000000b0 0 2px 5px;
}

@mixin list-container {
  ul {
    list-style: none;
    padding: 0;

    @media (min-width: $breakMobile) {
      display: contents;
    }
  }

  li {
    @include h-5;
    background: url("../../public/icons/Checked_blue.svg") no-repeat left center;
    padding-left: 30px;
    width: fit-content;
  }
}

@mixin arrow-link {
  @include p-1;
  text-decoration: none;
  color: $primary-blue;
  padding-right: 30px;
  background: url("../../public/icons/Arrow_right_blue.svg") no-repeat right
    center;
}
