@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.form {
  @include flex-column;
  z-index: 1;
  width: 100%;
  gap: 20px;

  @media (min-width: $breakMobile) {
    gap: 14px;
  }
}

.input {
  box-sizing: border-box;
  @include p-1;
  width: 100%;
  border-radius: 8px;
  padding: 17px 20px;
  border: 1px solid $primary-white;
}

.input_area {
  position: relative;

  &__button {
    @include button-transparent;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 137px;
    height: 36px;
    border-radius: 36px;
    color: $primary-blue;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: $primary-blue;
      color: $primary-white;
    }
  }
}

.button {
  @include button-transparent;
  @include p-1;
  width: 100%;
  height: 56px;
  border-radius: 50px;
  color: $primary-white;

  @media (min-width: $breakMobile) {
    margin-top: 5px;
  }
}
