@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.unmatched {
  background-color: $primary-white;
  width: 100%;
  padding-block: 2rem;
  padding-inline: 1rem;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $breakMobile) {
    padding: 160px 194px;
    flex-direction: row;
    gap: 0;
  }

  &__inner {
    @include flex-column;

    justify-content: space-between;

    @media (min-width: $breakMobile) {
      align-items: flex-start;
      flex-direction: row;
      gap: 0;
    }
  }

  &__title {
    @include a-2;
    min-width: 266px;
  }

  &__content {
    @include flex-column;
    gap: 40px;

    &_text {
      @include h-3;
      text-align: center;

      @media (min-width: $breakMobile) {
        @include h-2;
        text-align: left;
      }
    }

    &_link {
      @include button-blue;
      width: 204px;
      height: 60px;
      border-radius: 50px;
      align-self: center;

      @media (min-width: $breakMobile) {
        align-self: flex-start;
      }
    }
  }
}
