@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  position: relative;
  align-items: center;
}

.wave_top {
  display: none;
  position: absolute;
  top: 120px;

  @media (min-width: $breakMobile) {
    display: block;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_1.svg");
  }
}

.video_box {
  @include flex-column;
  position: relative;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: calc(100vw - 40px);
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $breakMobile) {
    margin-top: 0px;
    padding: 100px 200px 160px;
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow: hidden;

    @media (min-width: $breakMobile) {
      height: 500px;
      width: 750px;
      border-radius: 32px;
      margin-bottom: 120px;
      transition: transform 0.5s linear;
    }
  }

  &__video {
    @include flex-column;
    align-items: center;
    z-index: 1;
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  &__text {
    @include flex-column;
    z-index: 2;
    position: absolute;
    top: 0;
    padding: 0 60px;
    @media (min-width: $breakMobile) {
      margin-top: 98px;
    }

    &_title {
      text-align: center;
      margin-top: 98px;
      font-size: 72px;
      line-height: 72px;
      font-weight: 700;
      letter-spacing: -1.44px;
      color: $primary-white;

      @media (min-width: $breakMobile) {
        @include t-1;
        margin-top: 164px;
        white-space: nowrap;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
        letter-spacing: -2.6px;
      }
    }

    &_desc {
      text-align: center;
      margin-top: 32px;
      @include p-1;
      color: $primary-white;

      @media (min-width: $breakMobile) {
        @include h-4;
        font-weight: 600;
        letter-spacing: -0.48px;
        margin-top: 26px;
      }
    }
  }

  &__arrow_down {
    display: none;

    @media (min-width: $breakMobile) {
      display: block;
      z-index: 2;
      cursor: pointer;
      margin-top: 60px;
    }
  }
}

.leading {
  @include flex-column;
  margin-bottom: 100px;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    margin-bottom: 156px;
  }

  &__tours {
    margin: 40px 20px 0;
    font-size: 11px;
    line-height: 13px;
    color: $primary-blue;
    text-align: center;
    text-wrap: nowrap;
    text-transform: uppercase;

    @media (min-width: $breakMobile) {
      @include a-2;
      text-align: left;
      margin: 6px 0 0 294px;
      letter-spacing: 1.5px;
    }
  }

  &__desc {
    margin: 20px 30px 0px 20px;
    font-size: 32px;
    line-height: 40px;
    color: $primary-white;
    text-align: center;

    @media (min-width: $breakMobile) {
      margin: 0 194px 0 126px;
      @include h-2;
      text-align: left;
      letter-spacing: -0.5px;
    }

    span {
      color: $primary-blue;
      text-decoration: underline;
    }
  }
}

.button_see {
  @include button-transparent;
  @include p-1;
  width: 204px;
  height: 60px;
  border-radius: 50px;
  margin: 40px 0 100px;
  text-decoration: none;
  color: $primary-white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-blue;
  }

  @media (min-width: $breakMobile) {
    margin: 80px 0 160px;
  }
}

.presentation {
  @include flex-column;
  overflow: hidden;
  width: 100%;
  padding: 102px 20px 0;
  background-color: $primary-white;
  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    padding: 160px 0 0;
  }

  &__direct {
    padding-bottom: 100px;
    @media (min-width: $breakMobile) {
      flex-direction: row-reverse;
      padding-bottom: 0;
    }
  }

  &__desc {
    @include flex-column;
    margin-bottom: 40px;

    @media (min-width: $breakMobile) {
      padding: 95px 120px 0 195px;
    }

    &_top {
      @include a-2;
      text-transform: uppercase;
      color: $primary-blue;
      margin-bottom: 20px;
      letter-spacing: 0.8px;

      @media (min-width: $breakMobile) {
        margin-bottom: 30px;
        letter-spacing: 1.2px;
      }
    }

    &_title {
      @include h-2;
      line-height: 44px;
      margin-bottom: 20px;

      @media (min-width: $breakMobile) {
        @include h-1;
        margin-bottom: 30px;
      }
    }

    &_bottom {
      display: flex;
      align-items: center;
      @include p-1;
      text-decoration: none;
      color: $primary-blue;
    }
  }

  &__image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 467px;
    width: auto;

    @media (min-width: $breakMobile) {
      height: 546px;
      min-width: 50%;
    }

    &_att {
      background-image: url("../../../public/images/Group_75.png");
      @media (min-width: $breakMobile) {
        left: 15px;
      }
    }

    &_make {
      background-image: url("../../../public/images/Group_74.png");
      display: flex;
      box-sizing: border-box;
      align-items: flex-end;
      justify-content: center;
      padding: 30px;

      @media (min-width: $breakMobile) {
        right: 15px;
      }
    }
  }

  &__buttons {
    display: flex;
    box-sizing: border-box;
    gap: 8px;

    &_button {
      @include button-blur;
    }
  }
}

.preference {
  display: flex;
  padding: 80px 20px 0px;

  @media (min-width: $breakMobile) {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: $primary-white;
    width: 100%;
    padding: 160px 190px;
  }

  &__list {
    @include flex-column;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    background-color: $middle-grey;
    padding: 48px;
    gap: 16px;

    @media (min-width: $breakMobile) {
      flex-direction: row;
    }

    &_items {
      @include flex-column;
      gap: 16px;
    }

    &_item {
      @include h-5;
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
