@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  position: relative;
  align-items: center;
}

.wave_top {
  display: none;
  position: absolute;
  top: 120px;

  @media (min-width: $breakMobile) {
    display: block;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_1.svg");
  }
}

.video_box {
  @include flex-column;
  position: relative;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  // user-select: none;
  width: calc(100vw - 40px);
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $breakMobile) {
    margin-top: 0px;
    padding: 100px 200px 160px;
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow: hidden;

    @media (min-width: $breakMobile) {
      height: 500px;
      width: 750px;
      border-radius: 32px;
      margin-bottom: 120px;
      transition: transform 0.5s linear;
    }
  }

  &__video {
    @include flex-column;
    align-items: center;
    z-index: 1;
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  &__text {
    @include flex-column;
    z-index: 2;
    position: absolute;
    top: 0;
    padding: 0 60px;
    @media (min-width: $breakMobile) {
      margin-top: 98px;
    }

    &_title {
      text-align: center;
      margin-top: 98px;
      font-size: 72px;
      line-height: 72px;
      font-weight: 700;
      letter-spacing: -1.44px;
      color: $primary-white;

      @media (min-width: $breakMobile) {
        @include t-1;
        margin-top: 164px;
        white-space: nowrap;
        @include text-shadow;
      }
    }

    &_desc {
      text-align: center;
      margin-top: 32px;
      @include p-1;
      color: $primary-white;

      @media (min-width: $breakMobile) {
        @include h-4;
        font-weight: 600;
        margin-top: 26px;
        text-align: center;
      }
    }
  }

  &__arrow_down {
    display: none;

    @media (min-width: $breakMobile) {
      display: block;
      z-index: 2;
      cursor: pointer;
      margin-top: 60px;
    }
  }
}

.leading {
  @include flex-column;
  margin-bottom: 2rem;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    margin-bottom: 156px;
  }

  &__tours {
    margin: 40px 20px 0;
    @include a-2;
    text-transform: uppercase;
    color: $primary-blue;
    margin-bottom: 20px;
    letter-spacing: 0.8px;

    text-align: center;
    text-wrap: nowrap;

    @media (min-width: $breakMobile) {
      margin-bottom: 30px;
      letter-spacing: 1.2px;

      text-align: left;
      margin: 6px 0 0 294px;
    }
  }

  &__desc {
    @include h-3;
    margin: 0 20px;
    text-align: center;
    color: $primary-white;
    z-index: 2;

    @media (min-width: $breakMobile) {
      @include h-2;
      margin: 0 194px 0 126px;
    }

    span {
      color: $primary-blue;
    }
  }
}

.button_see {
  @include button-transparent;
  @include p-1;
  width: 204px;
  height: 60px;
  border-radius: 50px;
  margin: 2rem 0 3rem;
  text-decoration: none;
  color: $primary-white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-blue;
  }

  @media (min-width: $breakMobile) {
    margin: 80px 0 80px;
  }
}

$maxWidth: 1700px;

@mixin presentation {
  background: $primary-white;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: $breakMobile) and (max-width: $maxWidth) {
    padding: 6rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: $maxWidth;
    margin: 0 auto;

    @media (min-width: $breakMobile) {
      grid-template-columns: 3fr 2fr;
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;

    @media (min-width: $breakMobile) and (max-width: $maxWidth) {
      padding: 0;
    }

    > img {
      border-radius: 20px;
      max-width: 100%;

      @media (min-width: $breakMobile) and (max-width: $maxWidth) {
        border-radius: 20px 0 0 20px;
        min-height: 500px;
        object-fit: cover;
        object-position: left;
      }
    }
  }

  &__buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &_button {
      @include button-blur;
    }
  }

  &__desc {
    @include flex-column;
    margin-bottom: 40px;

    text-align: center;
    align-items: center;

    @media (min-width: $breakMobile) {
      padding: 95px 120px 0 195px;
      align-items: unset;
      text-align: unset;
    }

    &_top {
      @include a-2;
      text-transform: uppercase;
      color: $primary-blue;
      margin-bottom: 20px;
      letter-spacing: 0.8px;

      @media (min-width: $breakMobile) {
        margin-bottom: 30px;
        letter-spacing: 1.2px;
      }
    }

    &_title {
      @include h-2;
      line-height: 44px;
      margin-bottom: 20px;

      @media (min-width: $breakMobile) {
        @include h-1;
        margin-bottom: 30px;
      }
    }

    &_bottom {
      @include arrow-link;
      width: fit-content;
    }
  }
}
.presentation_left_image {
  @include presentation;
}

.presentation_right_image {
  @include presentation;

  &__container {
    @media (min-width: $breakMobile) {
      grid-template-columns: 2fr 3fr;
      & > div {
        order: 2;
      }
      & > div:nth-child(2) {
        order: 1;
      }
    }
  }

  &__image {
    > img {
      @media (min-width: $breakMobile) and (max-width: $maxWidth) {
        border-radius: 0 20px 20px 0;
        object-position: right;
      }
    }
  }

  &__desc {
    padding: 20px;

    @media (min-width: $breakMobile) {
      padding: 95px 195px 0 120px;
    }
  }
}

.preference {
  display: flex;

  background-color: $primary-white;
  width: 100%;
  padding: 80px 20px;
  box-sizing: border-box;

  @media (min-width: $breakMobile) {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-block: 2rem 6rem;
    padding-inline: 190px;
  }

  &__list {
    @include flex-column;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    background-color: $middle-grey;
    padding: 48px;
    gap: 16px;

    &_items {
      @include list-container;

      @media (min-width: $breakMobile) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }

      @media (min-width: $breakMobile) and (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
