@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.image_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  user-select: none;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: $breakMobile) {
    height: 420px;
    width: 95%;
  }
}

.title {
  @include h-2;
  margin-bottom: 15px;
  line-height: 44px;
  color: $primary-white;

  @media (min-width: $breakMobile) {
    @include h-1;
  }
}

.desc {
  @include p-1;
  color: $primary-white;
}
