@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.case {
  z-index: 1;
  overflow: hidden;
  width: 100%;

  background-color: $primary-white;
  box-sizing: border-box;
  padding-block: 2rem;
  padding-inline: 4em;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    padding-block: 10rem;
  }

  &__inner {
    @include flex-column;
    @media (min-width: $breakMobile) {
      flex-direction: row;
    }
  }

  &__desc {
    @include flex-column;

    padding-block: 0 1rem;

    @media (min-width: $breakMobile) {
      padding: 60px 44px 0 0px;
    }

    &_title {
      @include a-2;
    }

    &_description {
      @include h-3;
      text-align: center;

      @media (min-width: $breakMobile) {
        text-align: left;
        @include h-2;
      }
    }

    &_text {
      @include p-1;
      margin-top: 30px;
      color: $dark-grey;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/images/Rectangle 70.png");
    border-radius: 20px;

    aspect-ratio: 3 / 2;
    width: calc(100vw - 40px);
    max-width: 100%;

    @media (min-width: $breakMobile) {
      height: 460px;
      aspect-ratio: unset;
    }

    &_button {
      @include button-blue;
      width: 203px;
      height: 60px;
      border-radius: 50px;
    }
  }
}
