@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  position: relative;
  padding: 100px 20px 0;

  @media (min-width: $breakMobile) {
    flex-direction: row;
    padding: 160px 196px 60px;
  }
}

.wave_top {
  display: none;

  @media (min-width: $breakMobile) {
    display: block;
    position: absolute;
    top: 84px;
    left: -148px;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_2.svg");
  }
}

.get {
  @include flex-column;
  z-index: 2;

  @media (min-width: $breakMobile) {
    padding-top: 38px;
  }
}

.desc {
  @include a-2;
  color: $primary-blue;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $breakMobile) {
    margin-bottom: 30px;
  }
}

.title {
  @include h-2;
  color: $primary-white;
  line-height: 44px;
  letter-spacing: -0.8px;
  margin-bottom: 40px;

  @media (min-width: $breakMobile) {
    @include h-1;
    letter-spacing: 0px;
    padding-right: 180px;
  }
}

.loader span {
  background-color: $primary-white !important; // needed to override inline styles
}

.form {
  width: 100%;
  margin: 0 auto;
  z-index: 1;

  &__sent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff20;
    border-radius: 20px;
  }

  &__sending {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__sent__text {
    align-self: self-end;
    @include p-1;
    color: $primary-white;
    padding: 20px;
  }

  &__sent__button {
    align-self: self-start;
    @include button-transparent;
    @include p-1;
    width: 220px;
    height: 60px;
    border-radius: 50px;

    color: $primary-white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-blue;
    }
  }
}
