@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  position: relative;
  align-items: center;
}

@mixin container-800 {
  width: 100%;

  @media (min-width: $breakMobile) {
    margin-inline: auto;
    max-width: 950px;
  }
}

.head {
  @include flex-column;
  align-items: center;
  position: relative;
  margin: 40px 20px 60px;
  height: 467px;
  width: calc(100vw - 40px);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../../../public/images/Rectangle 70.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;

  @media (min-width: $breakMobile) {
    left: 198px;
    height: 495px;
    width: 756px;
    margin: 100px 0 160px;
    border-radius: 32px;
  }

  &__desc {
    @include flex-column;
    position: relative;
    padding-left: 20px;
    margin: 90px 0 30px;

    @media (min-width: $breakMobile) {
      right: 340px;
      padding: 0;
    }

    &_name {
      @include a-2;
      text-align: left;
      @media (min-width: $breakMobile) {
        right: 340px;
      }
    }

    &_title {
      @include h-2;
      text-align: left;
      color: $primary-white;

      @media (min-width: $breakMobile) {
        text-align: left;
        @include t-2;
        width: 854px;
      }
    }
  }
}

.small_heading {
  @include a-2;
  text-align: left;
}

.text_title {
  @include h-2;
  text-align: left;
  line-height: 44px;
  margin-bottom: 20px;

  @media (min-width: $breakMobile) {
    @include h-1;
    margin-bottom: 30px;
  }
}

.honoring {
  @include flex-column;
  background-color: $primary-white;
  width: 100%;

  &__container {
    @include container-800;
  }

  padding-block: 1rem;
  padding-inline: 2rem;
  box-sizing: border-box;

  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;
  text-align: left;
}

.cemetry {
  @include flex-column;
  width: 100%;
  background-color: $primary-white;
  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;
}

.frames {
  @include flex-column;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;

  padding-inline: 1rem;
  padding-block: 1rem;
  gap: 28px;

  @media (min-width: $breakMobile) {
    flex-direction: row;
  }
}

.frame {
  @include flex-column;
  overflow: hidden;
  align-items: left;
  width: 100%;
  border-radius: 20px;
  background-color: $middle-grey;

  @media (min-width: $breakMobile) {
    width: 50%;
  }

  a {
    text-decoration: none;
    color: $primary-black;
  }

  &__top {
    width: 100%;
    aspect-ratio: 14 / 9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_image_one {
      background-image: url("../../../public/images/portfolio/Portfolio_4.jpg");
    }

    &_image_two {
      background-image: url("../../../public/images/Rectangle 93.png");
    }

    &_image_three {
      background-image: url("../../../public/images/Rectangle 169.png");
    }

    &_image_four {
      background-image: url("../../../public/images/Rectangle 170.png");
    }

    @media (min-width: $breakMobile) {
    }
  }

  &__title {
    @include h-4;
    letter-spacing: -0.48px;
    margin: 20px 20px 0;
    text-align: left;
  }

  &__text {
    @include p-2;
    margin: 30px 20px;
    text-align: left;
  }
}

.scope {
  @include flex-column;
  background-color: $primary-white;
  width: 100%;

  padding-block: 2rem;
  padding-inline: 1rem;

  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;
  text-align: left;

  &__container {
    @include container-800;
  }

  &__title {
    @include h-2;
    letter-spacing: -0.8px;
    margin-bottom: 34px;
  }

  &__results {
    @include flex-column;
    gap: 23px;
    margin-bottom: 40px;

    @media (min-width: $breakMobile) {
      flex-direction: row;
      height: 146px;
    }

    &_card {
      @include flex-column;
      justify-content: flex-end;
      overflow: hidden;
      width: 100%;
      border-radius: 12px;
      border: 1.5px solid $primary-blue;

      @media (min-width: $breakMobile) {
        width: calc(100% / 3 - 18.7px);
      }

      &__top {
        @include h-1;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        letter-spacing: -1.2px;
      }

      &__bottom {
        @include a-2;
        margin: 0;
        @media (min-width: $breakMobile) {
          margin: 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-blue;
        height: 29px;
        color: $primary-white;
        letter-spacing: 1.3px;
        text-transform: uppercase;
      }
    }
  }

  &__article {
    @include p-1;
  }
}

.duration {
  @include flex-column;
  background-color: $primary-white;
  width: 100%;
  padding-inline: 1rem;
  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;

  &__top {
    @include container-800;
    margin-inline: auto;
    text-align: justify;
    @include flex-column;

    @media (min-width: $breakMobile) {
      display: block;
    }
  }
}

.completion {
  @include flex-column;
  background-color: $primary-white;
  width: 100%;
  padding: 60px 20px 40px;
  border-bottom: 1px solid $primary-white;
  border-top: 1px solid $primary-white;

  &__container {
    @include container-800;
  }

  &__image {
    border-radius: 16px;
    aspect-ratio: 3 / 2;
    margin-bottom: 40px;
    object-fit: contain;
    margin-inline: auto;
    max-width: 100%;
    display: block;
  }

  &__phrase {
    position: relative;
    padding-left: 27px;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px; /* Смещение на 7 пикселей влево */
      width: 7px;
      height: 100%;
      background-color: $primary-blue;
      content: "";
    }

    &_text {
      font-size: 24px;
      font-style: italic;
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      letter-spacing: -0.48px;
    }

    &_author {
      @include p-2;
      color: $primary-blue;
    }
  }
}

.article_small_title {
  @include a-2;
  text-align: left;
}

.article_title {
  @include h-3;
  margin-bottom: 34px;
  text-align: left;
}

.article_text {
  @include p-1;
  margin-block-end: 1rem;
  text-align: left;

  &__link {
    color: $primary-black;
  }
}
