@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.container {
  @include flex-column;
  align-items: center;
}

.top_section {
  @include flex-column;
  align-items: center;
  position: relative;
  padding-block: 1rem 2rem;
  width: 100%;

  @media (min-width: $breakMobile) {
    background-position: center top 330px;
    background-repeat: no-repeat;
    background-image: url("../../../public/icons/Waves_7.svg");
    padding-block: 5rem;
  }
}

.title {
  @include h-3;
  margin-inline: 1.25rem;
  margin-block: 0 1rem;
  text-align: center;
  color: $primary-white;
  z-index: 2;

  @media (min-width: $breakMobile) {
    @include t-2;
    margin: 0 194px 40px;
    letter-spacing: -1.8px;
    text-align: center;
  }
}

.carousel_frame {
  width: 100%;
  margin-block: 2rem;
  @media (min-width: $breakMobile) {
    margin-block: 10rem 5rem;
  }
}

.blue_button {
  @include button-blue;
  width: 167px;
  height: 50px;
  border-radius: 40px;

  @media (min-width: $breakMobile) {
    width: 207px;
    height: 60px;
    border-radius: 50px;
  }
}

.transp_button {
  @include button-transparent;
  width: 164px;
  height: 50px;
  border-radius: 40px;

  @media (min-width: $breakMobile) {
    width: 204px;
    height: 60px;
    border-radius: 50px;
  }
}

.image_container {
  @include flex-column;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0px 20px;
  background-color: $primary-white;

  @media (min-width: $breakMobile) {
    padding: 0 194px 80px;
  }
}

.image_premium {
  @include flex-column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: calc(100vw - 40px);
  height: 400px;
  border-radius: 20px;
  background-image: url("../../../public/images/Rectangle 92.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;

  @media (min-width: $breakMobile) {
    aspect-ratio: 3 / 4.125;
    width: 100%;
  }

  &__title {
    @include h-3;
    color: $primary-white;
    margin-bottom: 60px;
    text-align: center;
    @include text-shadow;

    @media (min-width: $breakMobile) {
      @include h-1;
      text-align: center;
    }
  }
}

.carousel {
  width: 100%;
  background-color: $primary-white;
}

.video_box {
  padding-block: 3rem 0;
  &__text {
    @include flex-column;
    z-index: 2;
    position: absolute;
    top: 0;
    padding: 0;
    @media (min-width: $breakMobile) {
      padding: 0 60px;
    }

    &__title {
      text-align: center;
      @include h-3;
      color: $primary-white;
      margin-bottom: 60px;
      @include text-shadow;

      @media (min-width: $breakMobile) {
        @include h-1;
        text-align: center;
        margin-top: 230px;
      }
    }
  }

  &__button {
    @include button-blue;
    width: 167px;
    height: 50px;
    border-radius: 40px;
    margin-inline: auto;

    @media (min-width: $breakMobile) {
      width: 207px;
      height: 60px;
      border-radius: 50px;
    }
  }
}
